<%- include('./partials/header')%>

    <h1>This is all Houses Page</h1>
    <a href="/houses/new">New House</a><br>
    <% homes.forEach((home)=>{%>
        <div>
            <img src="<%= home.image%>">
            <h3>
                <%= home.title%>
            </h3>
        </div>
        <%})%>



            <%- include('./partials/footer')%>