<%- include('./partials/header')%>
    <h1>This is Homes Page</h1>
    <% homes.forEach((home)=>{%>
        <div>
            <img src="<%= home.image%>">
            <h3>
                <%= home.title%>
            </h3>
        </div>
        <%})%>



            <%- include('./partials/footer')%>