<%- include('./partials/header')%>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
                <% if(success && success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                    <% } %>


    </div>
    <div class="con">
        <div id="landing-header">
            <h1>Welcome to HEHouse Sell!</h1>
            <a href="/houses" class="btn btn-lg btn-success">View All Houses</a>
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <%- include('./partials/footer')%>