<%- partial('./partials/header')%>

    <div class="con">
        <div id="landing-header">
            <h1>Welcome to HEHouse Sell!</h1>
            <a href="/houses/allhouse/1" class="btn btn-lg btn-success">View All Houses</a>
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <%- partial('./partials/footer')%>