<%- include('./partials/header')%>
    <div class="container">
        <h3>Sign Up Here !! </h3>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">First Name</label>
                <input type="text" class="form-control" aria-describedby="firstName" placeholder="First Name" id="firstname" name="firstname" required>
            </div>
            <div class="form-group">
                <label for="username">Last Name</label>
                <input type="text" class="form-control" aria-describedby="lastName" placeholder="Last Name" id="lastname" name="lastname" required>
            </div>
            <div class="form-group">
                <label for="username">Birth Date</label>
                <input type="date" class="form-control" aria-describedby="birthDate" id="birthdate" name="birthdate" pattern="\d{4}-\d{2}-\d{2}" required>
            </div>
            <div class="form-group">
                <label for="email">Email </label>
                <input type="email" class="form-control" aria-describedby="userEmail" placeholder="Email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="username">Phone</label>
                <input type="text" class="form-control" aria-describedby="phoneNumber" placeholder="Phone Number" id="phone" name="phone" required>
            </div>
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" aria-describedby="userName" placeholder="User Name" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" aria-describedby="userPassword" title="Password must contain: Minimum 8 characters at least one number, one lowercase and one uppercase letter" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{8,}$" placeholder="Password"
                    id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" aria-describedby="userPassword" placeholder="Confirm Password" id="password2" name="password2" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <a class="d-block mt-3" href="/login">Login</a>

    </div>




    <%- include('./partials/footer')%>