img.detail {
    width: 100%;
    padding: 0 10;
}

.din {
    display: inline;
}

.img-thumbnail {
    margin-bottom: .5rem;
    width: inherit;
    height: 15rem;
}

.date {
    font-size: .7rem;
    color: rgb(97, 56, 7);
}